.answer-container {
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .section-top {
        height: 50%;
        .section-scroll {
            width: 100%;
            height: 100%;
            .question-content {
                margin-top: 20px;
                margin-right: 10px;
                margin-left: 10px;
                .question-content-text {
                    color: #172434;
                    font-size: 16px;
                    line-height: 25px,
                }
            }
        }
    }
    .separator {
        height: 1px;
        width: 100%;
        background-color: #979797;
    }
    .section-bottom {
        height: 50%;
        .answer-scroll {
            flex-direction: column;

            .answer-right-wrong {
                height: 40px;
                .answer-right-text {
                    margin-left: 28px;
                    margin-top: 18px;
                    font-size: 13px;
                    color: #8FDA3C;
                }
                .answer-wrong-text {
                    margin-left: 28px;
                    margin-top: 18px;
                    font-size: 13px;
                    color: #FF5B29;
                }
            }
            .answer {
                height: 50px;
                .left-tab-container {
                    float: left;
                    position: relative;
                    flex-direction: column;
                    background-color: bisque;
                    width: 43px;
                    height: 43px;
                    padding: auto;
                    .left-tab-icon {
                        width: 23px;
                        height: 23px;
                        position: absolute;
                        top:0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
                .right-tab-container {
                    overflow: hidden;
                    .right-tab-answer-title {
                        display: inline;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
            .answer-selected {
                background-color: #F5F5F5;
                
            }
        }
        .analysis {
            
            justify-content: center;
            align-items: center;

            .separator-line {
                margin-left: 20%;
                margin-top: 16px;
                height: 1px;
                width: 60%;
                background-color: #979797;
            }
            .analysis-title-view {
                text-align: center;
                margin-top: 6px;
                .analysis-title {
                    font-size: 15px;
                    color: #FF5B29;
                    line-height: 20px;   
                }
            }
            .analysis-text-view {
                margin-top: 35px;
                margin-right: 44px;
                margin-left: 44px;
                margin-bottom: 84px;  
                           
                .analysis-text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .feedback-button {
                width: 90px;
                height: 24px;
                border:1px solid rgba(0,0,0,.75);
                margin-top: 10px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 10px;
                color: #172434;
                background-color: white;
                .feedback-title {
                    font-size: 10px;
                    color: #172434;

                }
            }
        }
    }
}