.home-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    .select-container {
        position: relative;
        flex-direction: row;
        margin-top: 10px;
        background-color: white;
        height: 78px;
        .green-block {
            position: absolute;
            left: 10px;
            top: 31.5px;
        }
        .title-container {
			position: relative;
            margin-left: 35px;
            width: 70%;
            height: 78px;
            .title-paper-name {
				position: absolute;
                top: 17px;
                text-align: left;
                width: 80%;
				line-height: 25px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
            }
            .title-paper-detail {
				position: absolute;				
                top: 48px;
                line-height: 20px;
            }
		}
		.circle-chart {
			position: absolute;
			top: 10px;
			right: 40px;
			width: 60px;
			height: 60px;
		}
		.arrow-0 {
			position: absolute;
			top: 34px;
			right: 18.8px;
		}
	}
	.select-container-selected {
		background-color: #F5F5F5;			
	}
    .select-container::after {
        border: none;
        border-radius: 0;
    }
    .section {
		flex-direction: column;
        margin-top: 10px;
        background-color: white;
		height: 300px;
		.section-top {
			position: relative;
			height: 48px;
			width: 100%;
			.section-block {
				margin-left: 10px;
				margin-top: 16.5px;
			}
			.section-top-title {
				margin-left: 10px;
				height: 100%;
			}
			.section-top-right-title {
				position: absolute;
				top: 12px;
				right: 50px;
				font-size: 16px;
			}
			.blue {
				color: #1495EB;
			}
			.red {
				color: #FF5B29;
			}
			.arrow-1 {
				position: absolute;
				top: 19px;
				right: 18.8px;
			}
		}
		.section-top-selected {
			background-color: #F5F5F5;			
		}
		.section-bottom {
			position: relative;
			height: 48px;
			.last-date {
				position: absolute;				
				top: 14px;
				left: 35px;
				font-size: 12px;
				color: #8E9091;
			}
			.average {
				position: absolute;				
				top: 14px;
				left: 45%;
				font-size: 12px;
				color: #8E9091;
			}
			.right-detail {
				position: absolute;
				top: 14px;
				right: 49px;
				font-size: 12px;
				color: #8E9091;
			}
		}
		.echart-line-view {
			height: 200px;
			width: 100%;
		}
    }
    .block {
        width: 15px;
        height: 15px;
    }
    .h2 {
        font-size: 16px;
        color: #172434;
	}
	.h4 {
        font-size: 16px;
        font-weight: 400;
        color: #172434;
	}
    .p {
        font-size: 12px;
        color: #8E9091;
    }
    .arrow {
		width: 7.4px;
		height: 10px;
	}
	.separator {
		margin-right: 10px;
        margin-left: 10px;
        height: 1px;
		background-color: #7A8FAC;
        opacity: 0.1,
	}
}