.home-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    .select-container {
        position: relative;
        flex-direction: row;
        margin-top: 10px;
        background-color: white;
        height: 78px;
        .green-block {
            position: absolute;
            left: 10px;
            top: 31.5px;
        }
        .title-container {
            position: absolute;
            left: 30px;
            right: 100px;
            height: 78px;
            .title-paper-name {
                display: inline-block;
                margin-top: 17px;
                text-align: left;
                width: 100%;
                background-color: white;
                line-height: 25px;
            }
            .title-paper-detail {
              margin-top: 5px;
              line-height: 20px;
            }
        }
    }
    .select-container::after {
        border: none;
        border-radius: 0;
    }
    .section {
        margin-top: 10px;
        background-color: white;
        height: 200px;
    }
    .block {
        width: 15px;
        height: 15px;
    }
    .h2 {
      font-size: 16px;
      color: #172434;
    }
    .p {
      font-size: 12px;
      color: #8E9091;
    }
}