.container {
    position: absolute;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    .section {
        flex-direction: row;
        margin-top: 15px;
        height: auto;
        background-color: #ffffff;
        padding-bottom: 10px;
        padding-top: 10px;
        .title {
            margin: 7px 0 20px 20px;
            color: #FF5B29;
            font-size: 16px;
            text-decoration-line: underline;
        }
        .subtitle-container {
            height: auto;
            margin: 10px 0 20px 20px;
            display: table;            
            .subtitle-container {
                width: auto;
                display:table-cell;          
                .subtitle {
                    color: black;
                    font-size: 16px;
                    margin-right: 19px;
                }
            }
        }
    }
    .button-highlight {
        background-color: #F5F5F5;
    }
}