.container {
    position: absolute;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    .section {
        margin-top: 10px;
        height: auto;
        background-color: #ffffff;
        padding-bottom: 16px;
        padding-top: 10px;
        .title {
            margin: 7px 0 20px 20px;
            color: #FF5B29;
            font-size: 16px;
            border-bottom: 1px solid #FF5B29;
            padding-bottom: 0.25px
        }
        .subtitle-container {
            height: auto;
            padding: 10px 0 0px 15px;
            float: left;
            .subtitle-trigger {
                float: left;
                .subtitle {
                    padding: 5px;
                    color: black;
                    font-size: 16px;
                }
            }
        }
    }
    .button-highlight {
        background-color: #F5F5F5;
    }
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }