page {
    background-color: #f6f6f6;
}
.container {
    position: absolute;
    background-color: #f6f6f6;
    height: auto;
    width: 100%;
    padding-top: 20px;
    .section {
        height: auto;
        background-color: #ffffff;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        .title {
            color: #FF5B29;
            margin-left: 15px;
            font-size: 18px;
            display:initial;
        }
        .subtitle-container {
            height: auto;
            padding: 10px 0 0 10px;
            font-size: 17px;
            .subtitle-trigger {
                float: left;
                height: 30px;
                .subtitle {
                    padding: 5px;
                    color: black;
                    font-size: 16px;
                }
            }
        }
    }
    .button-highlight {
        background-color: #F5F5F5;
    }
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }