page {
    background-color: #F6F6F6;
}
.container {
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
    .section {
        margin-top: 20px;
        height: 44px;
        background-color: #ffffff;
        position: relative;
        .section-title {
            font-size: 17px;            
            height: 44px;
            line-height: 44px;
            margin-left: 15px;
        }
        .arrow {
            position: absolute;
            top: 16px;
            width: 7.4px;
            height: 12px;
            right: 15px;
        }
    }
    .button-highlight {
        background-color: #F5F5F5;
    }
}